STF_IMX386HYBIRD_STF_SUNNY=/odm/etc/camera/mmi7cm/STF_imx386dual/
STF_IMX386HYBIRD_STF_LITEON=/odm/etc/camera/mmi7cm/STF_imx386dual/
STF_IMX386HYBIRD_STF_LG=/odm/etc/camera/mmi7cm/STF_imx386dual/
STF_IMX486HYBIRD_OIS_NA_LITEON=/odm/etc/camera/mmi7cm/STF_imx386dual/
STF_IMX486HYBIRD_OIS_NA_OFILM=/odm/etc/camera/mmi7cm/STF_imx386dual/
STF_OV12A10HYBIRD_FOXCONN=/odm/etc/camera/mmi7cm/ov12a10dual/