STF_IMX386HYBIRD_STF_LITEON=/odm/etc/camera/davinci/imx386dual/
STF_IMX386HYBIRD_STF_SUNNY=/odm/etc/camera/davinci/imx386dual/
STF_IMX386HYBIRD_STF_LG=/odm/etc/camera/davinci/imx386dual/
STF_IMX486HYBIRD_OIS_NA_LITEON=/odm/etc/camera/davinci/imx386dual/
STF_IMX486HYBIRD_OIS_NA_OFILM=/odm/etc/camera/davinci/imx386dual/
STF_OV12A10HYBIRD_FOXCONN=/odm/etc/camera/davinci/ov12a10dual/
STF_IMX219_LITEON=/odm/etc/camera/davinci/imx219/
STF_IMX219_SUNNY=/odm/etc/camera/davinci/imx219/
STF_HI843_OFILM=/odm/etc/camera/davinci/hi843/
STF_OV8856_SUNNY=/odm/etc/camera/davinci/ov8856/