STF_IMX386HYBIRD_STF_LITEON=/odm/etc/camera/smartae/imx386/
STF_IMX386HYBIRD_STF_SUNNY=/odm/etc/camera/smartae/imx386/
STF_IMX386HYBIRD_STF_LG=/odm/etc/camera/smartae/imx386/
STF_IMX486HYBIRD_OIS_NA_LITEON=/odm/etc/camera/smartae/imx386/
STF_IMX486HYBIRD_OIS_NA_OFILM=/odm/etc/camera/smartae/imx386/
STF_OV12A10HYBIRD_FOXCONN=/odm/etc/camera/smartae/ov12a10/
STF_IMX219_LITEON=/odm/etc/camera/smartae/imx219/
STF_IMX219_SUNNY=/odm/etc/camera/smartae/imx219/
STF_HI843_OFILM=/odm/etc/camera/smartae/hi843/
STF_OV8856_SUNNY=/odm/etc/camera/smartae/ov8856/